body {
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(istockphoto-453187915-612x612.jpg);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
}

h1 {
    color:goldenrod;
    font-size: xxx-large;
}

#message-el {
    color: aliceblue;
    font-size: xx-large;
    font-style: italic;
}
p {
    color:antiquewhite;
    font-size: x-large;
}

#startGame {
    color:#016f32;
    width: 250px;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 70px;
    border: none;
    border-radius: 2px;
    background: goldenrod;
    margin-left: 43%;
    margin-top: 10%;
}

#newCard-el {
    color:#016f32;
    width: 250px;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 70px;
    border: none;
    border-radius: 2px;
    background: goldenrod;
    margin-left: 43%;
    margin-top:1%;
}
